<mat-form-field appearance="outline" class="w-full small-form-field" subscriptSizing="dynamic">
  <mat-label>{{ placeholder }}</mat-label>
  <input
    matInput
    [type]="type"
    [placeholder]="placeholder"
    [formControl]="inputControl"
    (blur)="onTouched()"
    [required]="isRequired"
  />

  @if (inputControl.invalid && inputControl.touched) {
    <mat-error>
      @if (inputControl.errors?.['required']) {
        {{ placeholder }} {{ 'validate.required' | translate }}
      } @else if (inputControl.errors?.['minlength']) {
        {{ 'validate.minLength' | translate: { min: inputControl.errors?.['minlength'].requiredLength } }}
      } @else if (inputControl.errors?.['min']) {
        {{ placeholder }} {{ 'validate.min' | translate: { min: inputControl.errors?.['min'].min } }}
      } @else if (inputControl.errors?.['max']) {
        {{ placeholder }} {{ 'validate.max' | translate: { max: inputControl.errors?.['max'].max } }}
      } @else if (inputControl.errors?.['pattern']) {
        {{ 'validate.invalidFormat' | translate }}
      } @else {
        {{ errorMessage }}
      }
    </mat-error>
  }
</mat-form-field>