<form [formGroup]="form">
  <app-header-detail [id]="id"></app-header-detail>
    <mat-dialog-content>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="col-span-2 md:col-span-1">
          <app-input-field 
            formControlName="username" 
            placeholder="ឈ្មោះអ្នកប្រើប្រាស់ (Username)" 
            [isRequired]="true">
          </app-input-field>
        </div>
        <div class="col-span-2 md:col-span-1">
          <app-input-field 
            formControlName="phone" 
            placeholder="លេខទូរស័ព្ទ (Phone Number)">
          </app-input-field>
        </div>
        <div class="col-span-2">
          <app-input-field 
            formControlName="email" 
            type="email" 
            placeholder="អ៊ីមែល (Email)">
          </app-input-field>
        </div>
        <div class="col-span-2">
          <app-input-field 
            formControlName="password" 
            type="password" 
            placeholder="លេខសម្ងាត់ (Password)">
          </app-input-field>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button matButton mat-dialog-close>បោះបង់</button>
      <button type="submit" matButton [mat-dialog-close]="true" cdkFocusInitial>រក្សាទុក</button>
    </mat-dialog-actions>
</form>
