@if (form) {
  <mat-dialog-actions align="end" class="p-4 bg-slate-200/50 border-t border-slate-100 gap-3">
    <button mat-button mat-dialog-close class="px-6 rounded-xl text-slate-600 hover:bg-slate-100 font-semibold transition-all">
      {{'button_actions.CANCEL' | translate }}
    </button>
    <button 
      mat-flat-button 
      color="primary" 
      [disabled]="form.invalid"
      class="px-8 rounded-xl bg-indigo-600 hover:bg-indigo-700 shadow-lg shadow-indigo-200 transition-all font-semibold"
    >
      {{'button_actions.CREATE' | translate }}
    </button>
  </mat-dialog-actions>
}

  <!-- <mat-dialog-actions align="end" class="p-4 bg-slate-50/50 border-t border-slate-100 gap-3">
    <button mat-button mat-dialog-close class="px-6 rounded-xl text-slate-600 hover:bg-slate-100 font-semibold transition-all">
      បោះបង់
    </button>
    <button 
      mat-flat-button 
      color="primary" 
      [disabled]="form.invalid"
      class="px-8 rounded-xl bg-indigo-600 hover:bg-indigo-700 shadow-lg shadow-indigo-200 transition-all font-semibold"
    >
      រក្សាទុក
    </button>
  </mat-dialog-actions> -->