<div @pageTransition class="flex flex-col gap-y-4 p-3">
  <div class="flex items-center justify-between">
    <app-breadcrumb></app-breadcrumb>

    <div class="flex items-center gap-4">
        <mat-form-field class="form-field" subscriptSizing="dynamic">
          <mat-label>ស្វែងរកប្រភេទ...</mat-label>
          <input (input)="onSearch($event)" matInput>
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <app-ui-button [variant]="'primary'" [size]="'md'" (click)="openDialog()">
          <span>{{ 'button.addNew' | translate }}</span>
        </app-ui-button>
    </div>
  </div>

  <!-- Table (skeleton + data handled inside DynamicTableComponent) -->
  <app-dynamic-table
    [columns]="columns"
    [rows]="paginatedCategories()"
    [totalCount]="filteredCategories().length"
    [pageIndex]="pageIndex()"
    [pageSize]="pageSize()"
    [isLoading]="isLoading()"
    (onEdit)="openEdit($event)"
    (onDelete)="deleteCategory($event)"
    (pageChange)="onPageChange($event)"
  ></app-dynamic-table>
</div>