<div class="category-list-wrapper">
  <!-- Header -->
  <div class="header-row">
    <app-breadcrumb></app-breadcrumb>

    <div class="flex items-center gap-4">
      <!-- Filters -->
      <div class="filters-bar">
        <app-search-input
          class="flex-1 min-w-48"
          placeholder="categories.search"
          (search)="onSearch($event)"
        ></app-search-input>
      </div>

      <!-- Add new button -->
      <app-ui-button [variant]="'primary'" [size]="'md'" [shape]="'solid'" (click)="openDialog()">
        <span>{{ 'button.addNew' | translate }}</span>
      </app-ui-button>
    </div>
  </div>

  <!-- Table -->
  <div class="table-container">
    <app-dynamic-table
      [columns]="columns"
      [rows]="categories()"
      [totalCount]="totalItems()"
      [pageIndex]="pageIndex()"
      [pageSize]="pageSize()"
      [isLoading]="isLoading()"
      (onEdit)="openEdit($event)"
      (onDelete)="deleteCategory($event)"
      (pageChange)="onPageChange($event)"
    ></app-dynamic-table>
  </div>
</div>
