<div class="category-list-wrapper">
  <!-- Header -->
  <div class="header-row">
    <app-breadcrumb></app-breadcrumb>
    <app-ui-button [variant]="'primary'" [size]="'md'" [shape]="'solid'" (click)="openDialog()">
      <span>{{ 'button.addNew' | translate }}</span>
    </app-ui-button>
  </div>

  <!-- Filters -->
  <div class="filters-bar">
    <div class="search-wrapper">
      <svg class="search-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
        />
      </svg>
      <input
        aria-label="Search"
        type="text"
        (input)="onSearch($event)"
        [placeholder]="lang.currentLang() === 'km' ? 'ស្វែងរក...' : 'Search ...'"
        class="search-input"
      />
    </div>
  </div>

  <!-- Table -->
  <div class="table-container">
    <app-dynamic-table
      [columns]="columns"
      [rows]="categories()"
      [totalCount]="totalItems()"
      [pageIndex]="pageIndex()"
      [pageSize]="pageSize()"
      [isLoading]="isLoading()"
      (onEdit)="openEdit($event)"
      (onDelete)="deleteCategory($event)"
      (pageChange)="onPageChange($event)"
    ></app-dynamic-table>
  </div>
</div>
