.responsive-dialog {
  width: min(80vw, 1980px);
  max-width: unset !important;
  max-height: 98vh;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  .mat-dialog-container {
    overflow: hidden !important;
    border-radius: 10px;
    padding: unset !important;
  }
  .mat-dialog-actions {
    padding-right: 6px;
    padding-bottom: 18px !important;
  }
  @media screen and (max-width: 960px) {
    width: 100vw;
    max-height: 100vh;
  }
}

.small-dialog {
  border-radius: 10px;
  background-color: white !important;
  transition: all 0.3s ease-in-out;
  .mat-dialog-container {
    overflow: hidden !important;
    border-radius: 10px;
    padding: unset !important;
  }
  .mat-dialog-actions {
    padding-right: 6px;
    padding-bottom: 18px !important;
  }
  @media screen and (max-width: 960px) {
    width: 100vw;
  }
}

.medium-dialog {
  border-radius: 16px;
  background-color: #fff !important;
  width: min(600px, 1980px);
  max-width: unset !important;
  max-height: 98vh;
  transition: all 0.3s ease-in-out;
  .mat-dialog-container {
    overflow: hidden !important;
    border-radius: 10px;
    padding: 0px 5px 8px 0px;
  }
  .mat-dialog-actions {
    padding-right: 6px;
    padding-bottom: 18px !important;
  }
  @media screen and (max-width: 960px) {
    width: 100vw;
  }
}