@use '@angular/material' as mat;

.small-form-field {
  @include mat.form-field-density(-3);
}

.form-field {
  @include mat.form-field-overrides((
    // 1. set height of box (small)
    container-height: 42px,
    
    // 2. set Khmer font and size 12px
    container-text-font: 'Khmer OS Battambang',
    container-text-size: 12px,

    // set Khmer font for label
    filled-label-text-font: 'Khmer OS Battambang',
    filled-label-text-size: 12px,
    
    // set Padding for top and bottom (Important for Fill)
    filled-with-label-container-padding-top: 16px,
    filled-with-label-container-padding-bottom: 4px,
    
    // set color for background (Optional)
    filled-container-color: #f5f5f5, 
    filled-active-indicator-height: 1px, // height of line below
  ));

  // set placeholder for Khmer font
  input.mat-mdc-input-element::placeholder {
    font-size: 12px !important;
    font-family: 'Khmer OS Battambang', 'Hanuman', 'Siemreap' !important;
    opacity: 0.6;
  }

  // set icon size for Khmer font
  .mat-icon {
    font-size: 18px !important;
    width: 18px !important;
    height: 18px !important;
    line-height: 18px !important;
    display: flex;
    align-items: center;
  }
}