# Application
PORT=3000
NODE_ENV=development

# Database
# DB_HOST=localhost
# DB_PORT=3306
# DB_USER=pos_user
# DB_PASS=pos_password
# DB_NAME=pos_db

DB_HOST=db
DB_PORT=3306
DB_USER=root
DB_PASSWORD=rootpassword
DB_NAME=pos_db

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRES_IN=8h

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
